<div class="row">
  <div class="col-12">
    <h1>{{ title }}</h1>
  </div>
</div>


<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-2">#</div>
      <div class="col-6">Description</div>
      <div class="col-2">Unit price</div>
      <div class="col-2">Total price</div>
    </div>
<div *ngFor="let item of cart.items">
  <app-cart-detail [item]="item" (onChangeTotalPrice)="calculatePrices(item)"></app-cart-detail>
</div>
  </div>
</div>

<p>Subtotal: {{ cart.getTotalPrice() }}</p>
<p>{{ cart.discountPerc }}% discount  : {{ cart.getDiscountAmount() }}</p>
<p>Total:  {{ cart.getTotalPriceInclDiscount() }}</p>
<button type="button" class="btn btn-primary">test</button>